################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Consumer_VS140/v14/.suo
/Consumer_VS140.sln
/WIN_64_VS140/Debug_MDd/Consumer.obj
/WIN_64_VS140/Debug_MDd/Consumer.pdb
/WIN_64_VS140/Debug_MDd/Consumer.sbr
/WIN_64_VS140/Debug_MDd/Consumer.tlog/CL.command.1.tlog
/WIN_64_VS140/Debug_MDd/Consumer.tlog/CL.read.1.tlog
/WIN_64_VS140/Debug_MDd/Consumer.tlog/CL.write.1.tlog
/WIN_64_VS140/Debug_MDd/Consumer.tlog/Consumer.lastbuildstate
/WIN_64_VS140/Debug_MDd/Consumer.tlog/unsuccessfulbuild
/WIN_64_VS140/Debug_MDd/Consumer_VS140.log
/WIN_64_VS140/Debug_MDd/SessionManager.sbr
